body{
    background: linear-gradient(180deg, #d3ecfd, #021b53);
}
.pos{
    margin-right: 35px;

}
.pos1{
    margin-left: 5px;

}
.img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
.butt{
    background: #021b53;
}


.bg{
    background: #e2e2e2;
}

h1 { color: #ffffff;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 52px;
    font-weight: 200;

    line-height: 1; text-align: center;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
    0 8px 13px rgba(0,0,0,0.1),
    0 18px 23px rgba(0,0,0,0.1);


}