
.pos{
    margin-right: 35px;

}
.pos1{
    margin-left: 5px;

}
.img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
.butt{
    background: #021b53;
}


.bg{
    background: #e2e2e2;
}



.add_palitra {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 87%;
    z-index: 99999;
}

.boxShadow {

    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

/*анимация*/

.hover-image-3 * {
    box-sizing: border-box;
}
.hover-image-3 {
    overflow: hidden;
    display: inline-block;
    position: relative;
    line-height: 0;
}
.hover-image-3 a span {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    right: 20px;
    bottom: 10px;
    z-index: 2 ;
    background: url("icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hover-image-3 .hover-image-circle {
    position: absolute;
    border-radius: 50%;
    background: #e6e8ff;
    right: -25px;
    bottom: -35px;
    width: 160px;
    height: 160px;
    transform: scale(0);
    transition: all 0.3s linear;
}
.hover-image-3 a:hover .hover-image-circle {
    transform: scale(1);
    animation: ripple 0.3s linear;
}
@keyframes ripple {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}